<!-- Contact -->
<section id="contact">
    <div class="inner-width">
      <h1 class="section-title">İletişim</h1>
      <div class="contact-info">
        <div class="item">
          <i><img src="https://img.icons8.com/emoji/48/000000/mobile-phone.png"/></i>
          +90 533 456 44 07
        </div>
  
        <div class="item">
          <i><img src="https://img.icons8.com/fluency/48/000000/gmail-new.png"/></i>
          samilakpinar6@gmail.com
        </div>
  
        <div class="item">
          <i><img src="https://img.icons8.com/fluency/48/000000/worldwide-location.png"/></i>
          Antalya / Manavgat
        </div>
      </div>
  
    <!--

      <form action="#" class="contact-form">
        <input type="text" class="nameZone" placeholder="Ad Soyad">
        <input type="email" class="emailZone" placeholder="Email">
        <input type="text" class="subjectZone" placeholder="Konu">
        <textarea class="messageZone" placeholder="Mesaj"></textarea>
        <input type="submit" value="Send Message" class="btn">
      </form>

     -->
      

    </div>
  </section>
  