<!-- Home -->
<section id="about">
    <div class="inner-width">
      <h1 class="section-title">Hakkımda</h1>
      <div class="about-content">
        <img src="assets/samil.png" alt="" class="about-pic">
        <div class="about-text">
          <h2>Şamil Akpınar</h2>
          <p>
            Merhaba ben Şamil Akpınar Kırklareli Üniversitesi Yazılım Mühendisliği 4. sınıf öğrencisiyim. Üniversite eğitimim boyunca kendimi birçok farklı alanda geliştirmeye çalıştım. Üniversite ilk yıllarında ünviversiteyi keşfetmeye çalışırken ikinci sınıfta kendimi girişimcilik alanında geliştirmeye çalıştım. Burada Trakya Kalkınma Ajansının Yeni İşim Girişim programına katılmaya hak kazandım ve 2 ay boyunca girişimcilik eğitimleri aldım. 
          </p>
          <p>
            Üniversitede 2. sınıfın 2. dönemi içinde Namık Kemal Üniversitesinde DEVFEST etkinliğine katıldım. DEVFESTde Developer Student Club topluğu tanıtıldı ve kendi üniversitemde google topluluğuna katıldım. Bu süre zarfında ise okul döneminde geliştirdiğim projeleri 'Projeler' alanında görebilirsiniz. 
          </p>
          <p>
            3. Sınıf yazında Mikro Yazılım şirketinde staja başladım. Stajımda backend tarafında .net core web api geliştirdim. Frontend tarafında ise angular geliştirmesi yaptım. Stajımı verimli geçirmek için yeni mezun öğrencilere verilen film projesini tamamladım. Yaz stajımın vermiş olduğu .net core web api bilgisi ile kendimi .net core alanında geliştirmekteyim.
          </p>

        </div>
      </div>
  
      <div class="skills">
        <div class="skill">
          <div class="skill-info">
            <li>C# .Net Core</li>
          </div>
        </div>
  
        <div class="skill">
          <div class="skill-info">
            <li>Java</li>
  
          </div>
        </div>
  
        <div class="skill">
          <div class="skill-info">
            <li>Sql Server</li>
          </div>
        </div>
  
        <div class="skill">
          <div class="skill-info">
            <li>Python</li>
          </div>
        </div>
  
        <div class="skill">
          <div class="skill-info">
            <li>Html - Css</li>
          </div>
        </div>
  
        <div class="skill">
          <div class="skill-info">
            <li>C</li>
          </div>
        </div>
      </div>
    </div>
  </section>