<!-- Home -->
<section id="about">
    <div class="inner-width">
      <h1 class="section-title">About</h1>
      <div class="about-content">
        <img src="assets/samil.png" alt="" class="about-pic">
        <div class="about-text">
          <h2>Şamil Akpınar</h2>
          <p>
            Hello, I am Şamil Akpınar, a 4th year student of Software Engineering at Kırklareli University. During my university education, I tried to improve myself in many different areas. While trying to discover university in my first years of university, I tried to improve myself in the field of entrepreneurship in my second year. Here, I was entitled to participate in the Trakya Development Agency's New Job Entrepreneurship program and I received entrepreneurship training for 2 months.
          </p>
          <p>
            I participated in the DEVFEST event at Namık Kemal University in the second semester of my 2nd year at the university. The Developer Student Club community was introduced at DEVFEST and I joined the google community at my own university. During this time, you can see the projects I developed during the school term in the 'Projects' area.
          </p>
          <p>
            In the summer of 3rd grade, I started my internship at Mikro Yazılım. In my internship, I developed .net core web api on the backend side. On the frontend, I made angular development. In order to spend my internship productively, I completed the film project given to newly graduated students. I am developing myself in the field of .net core with the .net core web api knowledge given by my summer internship.
          </p>

        </div>
      </div>
  
      <div class="skills">
        <div class="skill">
          <div class="skill-info">
            <li>C# .Net Core</li>
          </div>
        </div>
  
        <div class="skill">
          <div class="skill-info">
            <li>Java</li>
  
          </div>
        </div>
  
        <div class="skill">
          <div class="skill-info">
            <li>Sql Server</li>
          </div>
        </div>
  
        <div class="skill">
          <div class="skill-info">
            <li>Python</li>
          </div>
        </div>
  
        <div class="skill">
          <div class="skill-info">
            <li>Html - Css</li>
          </div>
        </div>
  
        <div class="skill">
          <div class="skill-info">
            <li>C</li>
          </div>
        </div>
      </div>
    </div>
  </section>