<!-- Footer -->
<footer>
    <div class="inner-width">
      <div class="sm">
        <a href="https://www.linkedin.com/in/samilakpinar/" target="_blank"><img src="https://img.icons8.com/fluency/48/000000/linkedin.png"/></a>
        <a href="https://www.instagram.com/samil_akpinar/" target="_blank"><img src="https://img.icons8.com/fluency/48/000000/instagram-new.png"/></a>
       <!-- <a href="#" target="_blank"><img src="https://img.icons8.com/color/48/000000/twitter-squared.png"/></a> --> 
      </div>
    </div>
  </footer>

  <!-- Go Top BTN -->
<button class="goTop"><img src="https://img.icons8.com/material/24/000000/up--v1.png"/></button>