 <!-- Navbar -->
 <nav class="navbar">
    <div class="inner-width">
      <a href="/" class="logo"></a>
      <button class="menu-toggler">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-menu">
        <a href="#home">Anasayfa</a>
        <a href="#about">Hakkımda</a>
        <a href="#services">Projeler</a>
        <a href="#education">Eğitim / Tecrübe</a>
        <a href="#works">Yazılar</a>
        <a href="#contact">İletişim</a>
      </div>
    </div>
  </nav>