*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Ubuntu",sans-serif;
    box-sizing: border-box;
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  ::selection{
    background-color: #48dbfb60;
  }
  
  ::-webkit-scrollbar{
    width: 10px;
    background-color: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: #353b48;
  }
  
  .inner-width{
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
  }
  
  
  section{
    padding: 100px 0;
    background-color: #f1f1f1;
  }
  
  .section-title{
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    font-size: 26px;
    padding-bottom: 20px;
    color: #111;
  }
  
  .section-title::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: #111;
    bottom: 0;
    left: calc(50% - 40px);
  }
  
  .section-title::after{
    content: "";
    position: absolute;
    width: 16px;
    height: 10px;
    background-color: #48dbfb;
    border: 4px solid #f1f1f1;
    left: calc(50% - 12px);
    bottom: -7px;
  }
  
  
  section.dark{
    background-color: #353b48;
  }
  
  section.dark .section-title{
    color: #f1f1f1;
  }
  
  section.dark .section-title::before{
    background-color: #f1f1f1;
  }
  
  section.dark .section-title::after{
    border: 4px solid #353b48;
  }
  
  .services{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .service{
    width: calc(33% - 20px);
    text-align: center;
    border: 1px solid #48dbfb;
    border-radius: 6px;
    margin: 20px 0;
    padding: 40px 20px;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
  }
  
  .service .icon{
    color: #48dbfb;
    font-size: 40px;
    margin-bottom: 20px;
    transition: .3s linear;
  }
  
  .service h4{
    font-size: 16px;
    margin-bottom: 6px;
  }
  
  .service:hover{
    background-color: #48dbfb;
  }
  
  .service:hover .icon{
    color: #fff;
  }
  
  
  @media screen and (max-width: 980px){
   
    .inner-width{
      max-width: 800px;
    }
    
    .service{
      width: calc(50% - 20px);
    }
  
  }
  
  @media screen and (max-width: 600px){
    .inner-width{
      padding: 0 20px;
    }
   
    .service{
      width: 100%;
    }
  
  }
  
  