
<!-- Education -->
<section id="education">
    <div class="inner-width">
      <h1 class="section-title">Eğitim & Tecrübe</h1>
      <div class="time-line">

        <div class="block">
          <h4>2018 - 2022</h4>
          <h3>Kırklareli Ünviversitesi</h3>
          <p>Yazılım Mühendisliği GNO: 3.66</p>
        </div>
  
        <div class="block">
          <h4>2021 Temmuz - Devam</h4>
          <h3>Mikro Yazılım Stajı</h3>
          <p>.Net core web api ile film projesi geliştirilmesi ve angular ile frontend geliştirmelerinin yapılması.</p>
          
        </div>
  
      </div>
    </div>
  </section>