
<!-- Education -->
<section id="education">
    <div class="inner-width">
      <h1 class="section-title">Education & Experience</h1>
      <div class="time-line">

        <div class="block">
          <h4>2018 - 2022</h4>
          <h3>Kırklareli University</h3>
          <p>Software Engineering GNO: 3.71</p>
        </div>
  
        <div class="block">
          <h4>2021 July - present</h4>
          <h3>Mikro Software / Full Stack Developer</h3>
          <p>Developing a movie project with .net core web api and developing frontend with angular.</p>
          
        </div>
  
      </div>
    </div>
  </section>