*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Ubuntu",sans-serif;
    box-sizing: border-box;
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  ::selection{
    background-color: #48dbfb60;
  }
  
  ::-webkit-scrollbar{
    width: 10px;
    background-color: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: #353b48;
  }
  
  
  .inner-width{
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
  }
  
  
 
  
  #home{
    height: 100vh;
    min-height: 500px;
   background: url('/assets/bg.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
  }
  
  #home .inner-width{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
  }
  
  #home .content{
    width: 100%;
    color: #fff;
  }
  
  #home .content h1{
    margin-bottom: 60px;
    font-size: 60px;
  }
  
  
  
  .sm a{
    color: #fff;
    font-size: 22px;
    margin: 0 10px;
    transition: .2s linear;
  }
  
  .sm a:hover{
    color: #48dbfb;
  }
  
  #home .buttons{
    margin-top: 60px;
  }
  
  #home .buttons a{
    display: inline-block;
    margin: 15px 30px;
    color: #48dbfb;
    font-size: 15px;
    font-weight: 500;
    width: 180px;
    border: 1px solid #48dbfb;
    padding: 14px 0;
    border-radius: 6px;
    transition: .2s linear;
  }
  
  #home .buttons a:hover,
  #home .buttons a:nth-child(1)
  {
    background-color: #48dbfb;
    color: #fff;
  }
  
  @media screen and (max-width: 980px){
    
   
    .inner-width{
      max-width: 800px;
    }
  
  }
  
  @media screen and (max-width: 600px){
    .inner-width{
      padding: 0 20px;
    }
  
  }
  
  